<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="connectionstringdev" connectionString ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\souilmi\Desktop\TEST CODES\ESTEG\data files\DB.accdb;" />
		<!--<add name ="connectionstringdev" connectionString ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\ESTEG\DB.accdb;" />-->
	</connectionStrings>
</configuration>